%img {
  background-size: cover;
  background-position: center;
}

%btn {
  border: $border;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 99px;
  transition: background-color 0.2s linear;
  &:hover {
    color: white;
    background-color: black;
  }
}
